html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  background-color: #7c65a9;
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #96d4ca;
  border-radius: 10px;
}